<form action='/events/create' method='post' id="create_event">
	Organizer Name: <input type="text" name="organizer_name"><br>
	Organizer Email: <input type="text" name="organizer_email"><br>
	Title: <input type="text" name="title"><br>
	Date: <input type="date" name="date"><br>
	<input type="submit" value="create event!">
</form>

<div id="errors">
</div>