<h2>Create Your Event!</h2>
<form action= '/events' method="post">
  Title: <input type="text" name="title" placeholder="Event Title">
  Organizer: <input type="text" name="organizer_name" placeholder="Organizer's Name"><br>
  Email: <input type="text" name="organizer_email" placeholder="Organizer's Email">
  Date: <input type="date" name="date">
  <input type="submit" value="Create Event">
</form>
<div class="errors">
  <% if @errors %>
  <% @errors.each do |error| %>
  <li><%= error %><li>
    <% end %>
  <% end %>
</div>