<h2>Create an awesome event</h2>


<form action="/events/create" method="post">
	<h3>Fill out a form to create an event</h3>
	<input type="text" name="title" placeholder="title">
	<input type="text" name="organizer_name" placeholder="Your name">
	<input type="text" name="organizer_email" placeholder="Email">
	<input type="date" name="date" placeholder="date like this mm/dd/yyyy">
	<input type="submit">

</form>

