<div class="container">
<form action="/events" method="post">
	<br>
	<label type="label" for="new_event[organizer_name]">Organizer Name</label>
	<input type="text" name="new_event[organizer_name]"><br>
	<label class="label" for="new_event[organizer_email]">Email</label>
	<input type="email" name="new_event[organizer_email]"><br>
	<label class="label" for="new_event[title]">Event Title</label>
	<input type="text" name="new_event[title]"><br>
	<label class="label" for="new_event[date]">Event Date</label>
	<input type="text" name="new_event[date]" placeholder="e.g. 2014/02/25"><br>
	<div class="submit"><input type="submit" value="Add Event"></div>
</form>
</div>