<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title></title>
  </head>
  <body>

    <nav>
    <ul>
      <li><a href="/events/new">Create Event</a></li>
      <li><a href="/">All events</a></li>
    </ul>
    </nav>

    <div class="container">
      <% if @errors %>
        <p>There was an error with your request:</p>
        <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
        </ul>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
