<form action="/events/create" method="post">
  Organizer Name: <input type="text" name="organizer_name">
  Organizer Email: <input type="email" name="organizer_email">
  Title of Event: <input type="text" name = "title">
  Date of Event: <input type="date" name="date">
  <input type="submit" value="submit">
</form>


<!--       t.string :organizer_name, :organizer_email, :title
      t.date :date -->