<h2>Create an awesome event</h2>


<form action="/events/create" method="post">
	<h3>Fill out a form to create an event</h3>
	<input type="text" name="title" value="<%=@title %>">
	<input type="text" name="organizer_name" value="<%= @name %>">
	<input type="text" name="organizer_email" value="<%= @email %>">
	<input type="date" name="date" value="<%= @date %>">
	<input type="submit">
</form>